footer.footer
	.footer-text
		.footer-item
			.copyright ©2016
		.footer-item
			.name Kuibysheva 33|16 kiseleva
		.footer-item
			a.develop(href="flxmd.by" target="_blank" rel="nofollow") by #flxmd
	include _navButton