.siteLoader
	.frame.frame-top
	.loader-container
		.letters-container
			.loader-numbers
				span.point_1 3
				span.point_2 3
				span.point_3 |
				span.point_4 1
				span.point_5 6
			.loader-text ARCHITECTS
	.frame.frame-bottom
	.timeline
.pageLoader
	.lines-container
		.lines
			.line
			.line
			.line
.pageSurfLoader
	.loader