extends _layout

block title
	title Catalog

block content
	include includes/_burger
	.wrapper
		.scroll#out
			.content.content-news(data-page="news")
				include includes/_header
				.content-wrapper
					.content-head
						.text-container
							.title Newsfeed
							.subtitle
								| #Facebook
					.content-body
						.gallery-news#news-template
						- var ajax = false;
						include includes/_pagination
					script(id="facebook_template" type='text/template').
						<a class="gallery-news__item" href=#link# target="_blank" rel="nofollow">
							<div class="t-contaner">
								<div class="image-cover">
									<div style="background-image: url(#full_picture#)"></div>
								</div>
								<div class="gallery-news__name">
									<data>#convert_time#</data>
									<span><i>#message#</i></span>
								</div>
							</div>
							<div class="counter">
								<div class="counter-item item-like">
									<i class="icon">
										<div>
											<svg viewBox="0 0 3071.7 2694" xmlns="http://www.w3.org/2000/svg"><path d="m1541.16186,2697.88036c-18.7,0 -37.4,-7.5 -52.4,-22.5l-1231,-1219.8c-52.4,-48.6 -93.5,-104.8 -131,-164.6c-202.1,-333 -149.7,-759.6 131,-1036.5c160.9,-160.9 377.9,-250.7 606.2,-250.7c153.4,0 306.8,41.2 437.8,119.7c59.9,33.7 116,78.6 168.4,131c26.2,26.2 48.6,52.4 71.1,78.6c22.5,-26.2 44.9,-52.4 71.1,-78.6c52.4,-48.6 108.5,-93.5 168.4,-131c131,-78.6 284.4,-119.7 437.8,-119.7c228.2,0 445.3,89.8 606.2,250.7c276.9,276.9 333,703.4 131,1036.5c-37.4,59.9 -78.6,116 -131,164.6l-1231,1219.8c-15.2,15 -33.9,22.5 -52.6,22.5zm-677.3,-2544.4c-190.8,0 -366.7,74.8 -501.4,205.8c-228.2,228.2 -273.1,580 -108.5,853.1c29.9,48.6 67.4,97.3 108.5,138.4l1178.6,1167.4l1178.6,-1167.4c41.2,-41.2 78.6,-86.1 108.5,-138.4c164.6,-276.9 123.5,-628.6 -108.5,-853.1c-134.7,-131 -314.3,-205.8 -501.4,-205.8c-127.2,0 -254.4,33.7 -362.9,97.3c-48.6,29.9 -97.3,63.6 -138.4,108.5c-44.9,44.9 -82.3,93.5 -112.3,142.2c-15,22.5 -37.4,37.4 -63.6,37.4l0,0c-26.2,0 -52.4,-15 -63.6,-37.4c-29.9,-52.4 -67.4,-101 -112.3,-142.2c-41.2,-41.2 -89.8,-78.6 -138.4,-104.8c-108.4,-67.3 -235.7,-101 -362.9,-101z"/></svg>
										</div>
									</i>
									<span>#like#</span>
								</div>
								<div class="counter-item item-comment">
									<i class="icon">
										<div>
											<svg viewBox="0 0 3180.5 2952.6" xmlns="http://www.w3.org/2000/svg"><path d="m2340.09041,2954.30411l-565.2,-847.8l-1774.1,0l0,-2104.7l3180.5,0l0,2104.7l-671.6,0l-169.6,847.8zm-2152.2,-1034.9l1687.1,0l370.2,555.3l111.1,-555.3l638,0l0,-1730.5l-2806.4,0l0,1730.5z"/></svg>
										</div>
									</i>
									<span>#comment#</span>
								</div>
							</div>
						</a>
					script(type='text/javascript').
							var fb = new FacebookFeeds(".gallery-news");
							fb.getData('feed', 'created_time,link,full_picture,name,message,likes,comments');
				- var name = "newsfeed"
				include includes/_footer
		- var current = "Newsfeed"
		include includes/_menu
		include includes/_popup