extends _layout

block title
	title Portfolio

block content
	.wrapper
		.scroll#out
			include includes/_burger
			.content.content-portfolio(data-page="portfolio")
				include includes/_header
				.content-wrapper
					.content-head
						.text-container
							.title Portfolio
					.content-body
						.projects-hash
							a.projects-hash_item.ajax-trigger(href="#")
								span #Архитектура
							a.projects-hash_item.ajax-trigger(href="#")
								span #Дизайн
							a.projects-hash_item.ajax-trigger(href="#")
								span #Мастерство
							a.projects-hash_item.ajax-trigger(href="#")
								span #интерьер
						.projects
							mixin projects(image, name)
								a.projects-item.ajax-trigger(href="#")
									.project-info-contaner
										.cover
											.project-info__inner
												.projects-image
													img(src=image)
												.projects-info
														.projects-name
															span #{name}
							+projects("img/main/1_2.jpg", "Café de Paris")
							+projects("img/main/6_2.jpg", "Private house #03")
							+projects("img/main/10_2.jpg", "Café de Paris")
							+projects("img/main/15_2.jpg", "Private house #04")
							+projects("img/main/19_2.jpg", "Café de Paris")
							+projects("img/main/23_2.jpg", "Private house #05")
							+projects("img/main/28_2.jpg", "Café de Paris")
							+projects("img/main/30_2.jpg", "Private house #06")
				- var name = "services"
				include includes/_footer
		- var current = "Portfolio"
		include includes/_menu
		include includes/_popup